html {
    scroll-behavior: smooth
}

body {
    font-family: "Crimson Text", serif !important;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    height: 100vh;
    overflow: 'hidden';
    z-index: -10;
    color: #000 !important;
    background-color: #fff5d3 !important;
}

::selection {
    background: white;
  }

:root {
    --font-size: calc(13px + 0.28vw);
    --h1-size: calc(3.0rem + 0.28vw);
    --h2-size: calc(2.6rem + 0.1vw);
    --h3-size: calc(1.6rem + 0.12vw);
    --h4-size: calc(1.2rem + 0vw);
    --h5-size: calc(0.4rem + 0.3vw);
    --bs-border-color: black !important
}

a {
    color: black !important;
    /* font-style: italic; */
}

a:hover {
    font-style: italic;
    color: rgb(198, 198, 34) !important;
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #fff !important;
    font-style: italic
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
    --bs-accordion-bg: #f9f9f900 !important
}

.accordion-body {
    background-color: #fff !important
}

/* .accordion-item {
    border: 1px solid gray !important;
} */

.tag {
    font-size: 14px;
    color: #9b9b9b
}

.beach-pocket-img {
    width: 50%
}

#work {
    padding: 1rem 2.5rem
}

.row {
    --bs-gutter-x: 0rem !important
}

@media screen and (min-width:480px) {

    #profile,
    #work {
        padding: 1rem 2.5rem
    }

    #profile {
        overflow-y: hidden;
        position: fixed;
        height: 100vh
    }

    #work {
        overflow-y: scroll;
        margin-left: calc(100vw/12 * 3);
        width: calc(100vw/12 * 9);
        overflow-x: hidden
    }

    .thumb {
        height: 6rem
    }
}

@media screen and (max-width:480px) {

    #profile {
        padding: 2rem 2.5rem 3rem 2.5rem;
        height: 100vh;
    }

    .accordion-button::after {
        background-image: none !important;
        width: 0 !important
    }

    #fountain {
        display: none
    }

    .thumb {
        height: 3.5rem
    }

    #keyboard-demo {
        width: 100%
    }
}

.border-between>[class*=col-]:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0
}

.border-between>[class*=col-]:first-child:before {
    display: none
}