@media screen and (max-width: 480px) {
    body {
        background-image: none;
        width: 100vh;
        position: absolute;
        /* background-color: rgb(63, 63, 63); */
        /* background-size: contain; */
        
    }
      
    section {
        border: solid 1px #96daffca;
        outline: none;
        box-shadow: 0 0 4px 1px #96daffca;
        background-color: transparent;
        /* border-style: dashed; */
    }

    section:hover {
        background: rgba(255, 236, 236, 0.0);
    }

    .tag {
        font-size: 14px;
        border: dotted #96daff 1px;
    }
    

}