@media screen and (max-width: 480px) {

    body {
        background-image: none;
        background-color: rgb(246, 246, 246)!important;
        /* background-size: cover;
        background:#fff url(assets/download.png);
        background-attachment: fixed;
        background-size: 500px 1000px; */

    }

    #teach20{
        background-image: url("assets/000025.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
      
    section {
        border: solid 1px #96daffca;
        outline: none;
        box-shadow: 0 0 4px 1px #96daffca;
        background-color: transparent;
        /* border-style: dashed; */
    }

    section:hover {
        background: rgba(255, 236, 236, 0.0);
    }

    .tag {
        font-size: 14px;
        border: dotted #96daff 2px;
    }

    #wa {
        min-width: 500px;
    }
    

}