html {
    scroll-behavior: smooth
}

body {
    font-family: "Crimson Text", serif !important;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    height: 100vh;
    overflow: 'hidden';
    z-index: -10;
    color: rgb(186, 115, 186) !important;
    background-color: #fffff5 !important;
    /* background-image: url('assets/000024 copy.JPG'); */
    background-size: cover;
    background-attachment: fixed;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><text x='16' y='16' font-size='32' text-anchor='middle' dominant-baseline='middle'>⚘</text></svg>"), auto;
}

::selection {
    background: rgb(255, 253, 156);
}

:root {
    --font-size: calc(13px + 0.28vw);
    --h1-size: calc(3.0rem + 0.28vw);
    --h2-size: calc(2.6rem + 0.1vw);
    --h3-size: calc(1.6rem + 0.12vw);
    --h4-size: calc(1.2rem + 0vw);
    --h5-size: calc(0.4rem + 0.3vw);
    --bs-border-color: black !important;
    --bs-border-radius: none !important;
}

a {
    color: rgb(186, 115, 186) !important;
}

a:hover {
    font-style: italic;
    color: rgb(198, 198, 34) !important;
}


.tag {
    font-size: 14px;
    color: #9b9b9b
}


.row {
    --bs-gutter-x: 0rem !important
}

.column-scroll {
    /* height: 100vh; */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.column-scroll::-webkit-scrollbar {
    display: none;
}

#bio {
    height: 100vh;
    padding-top: 47vh;
    color: rgb(74, 149, 74);
}

#content {
    height: 100vh;
    border-left: purple dotted 1px;
    color: rgb(186, 115, 186);
}


.annotation {
    font-size: 8pt;
    border: 0.5px solid gray;
}


#work-content {
    padding-top: 35vh;
}

#menu {
    color: rgb(186, 115, 186);
}

#credit {
    color: rgb(186, 115, 186);
}

#content>ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* #content>ul>li:before {
    content: "<";
}

#content>ul>li:after {
    content: ">";
} */

#menu>ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

#menu>ul>li:before {
    content: "<";
}

#menu>ul>li:after {
    content: ">";
}

/* STYLING LIKE WA */

.row-scroll-container {
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    /* prevent sideways scroll */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.row-scroll-child {
    height: 100%;
    padding: 10px;
}

.row-scroll-child a {
    height: 100%;
}

.row-scroll-child img {
    height: 100%;
}

@media screen and (max-width:480px) {

    body {
        color: rgb(186, 115, 186) !important;
    }

    #pad-col-right {
        display: none;
    }

    #outer-container {
        width: 153vw;
        height: 100vh;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    #content {
        border-left: none;
        min-height: 100vh;
        color: rgb(186, 115, 186);
        width: 50vw;
        text-align: center;
        margin-left: 3vw;
        scroll-snap-align: start;
    }

    #content>ul>li {
        line-height: 1rem;
        margin-bottom: 0.5rem;
    }

    #bio {
        padding-top: 1rem;
        color: rgb(74, 149, 74);
        width: 100vw;
        scroll-snap-align: start;
    }

    /* STYLING LIKE KEYBOARD */

    #work-content {
        padding-top: 10vh;
    }

    /* STYLING LIKE WA */
    .row-scroll-container {
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .row-scroll-child {
        height: 100%;
        min-width: 100vw;
        padding: 0 10px;
        scroll-snap-align: start;
    }

    /* 
    .row-scroll-child a {
        width: 100%;
    } */

    .row-scroll-child a>img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block !important;
    }

    /* STYLING BEACH POCKET */
    #beachpocket .row-scroll-child a>img {
        width: auto !important;
        height: 90% !important;
    }

    #beachpocket .row-scroll-child {
        height: 100%;
        min-width: 280vw;
        padding: 0 10px;
        scroll-snap-align: none;
    }

    #beachpocket .row-scroll-container {
        scroll-snap-type: none;
        -webkit-overflow-scrolling: auto;
    }

}