html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif !important;
    margin: 0;
    height: 100vh;
    background-image: url("assets/000025.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: 'hidden';
    z-index: -10;
    background-attachment: fixed;
    color: rgb(148, 58, 233) !important;

}

h3 {
    padding-top: 2rem;
}

a {
    text-decoration: underline !important;
    color: rgb(148, 58, 233) !important;
}

a:hover {
    background-color: rgb(132, 33, 224);
    text-transform: uppercase;
    color: white !important;
}

.tag {
    font-size: 14px;
    border: dotted #96daff 2px;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 10px;
}

.tag-container {
    margin-bottom: 10px;
}

.page-container {
    top: 0;
    bottom: 0px;
    margin-left: 10px;
    position: absolute;
    /* background-color: #ffffff; */
    height: 100vh;
}

.container-offset {
    position: relative;
    /* z-index: 1; */
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
}

section {
    flex: 1;
    height: 95%;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    display: block;
    overflow-y: scroll;
    min-width: 500px;
    /* text-align: justify; */
    justify-items: center;
    /* border: solid 1px lightgray; */
    border: solid 1px #96daffca;
    outline: none;
    box-shadow: 0 0 4px 1px #96daffca;
}

section:hover {
    background: rgba(255, 236, 236, 0.82);
}

@media screen and (max-width: 480px) {
    section {
        min-width: 90vw;
    }

}

.link-out::after {
    content: "";
    font: 'Favorit', 'Helvetica Neue', sans-serif;
    font-size: .8vw;
    vertical-align: super;
    padding-left: 4px;
}

/* section:hover {
    color:blueviolet;
} */

img {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block;
}

.beach-pocket-img {
    width: 70%;
    padding-bottom: 5vh;
}

/* Nav */
#navigation {
    min-width: 300px;
    overflow-x: hidden;
}

.nav {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow-y: scroll;
    box-sizing: content-box;
    display: block !important;

}

.nav-content {
    font-size: 15px;
}

.nav-content-block {
    padding-left: 0px;
    margin-bottom: 5px;
}

/* Bio */
#bio {
    padding-top: 20px;
    padding-left: 10px;
    min-width: 300px;
}

/* #further {
    min-width: 320px;
    overflow-x: hidden;
    vertical-align: middle;
    border: none;
} */

/* #beach-pocket:hover {
    background-color: rgba(255, 255, 166, 0.645);
}

#gai-gia:hover{
    background-color: aqua;
}

#live-laugh-dick:hover{
    background-color: purple;
    color: white;
} */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}