@media screen and (max-width: 480px) {

    /* body { */
    /* background-image: none;
        background-color: rgb(246, 246, 246)!important;
        background-size: cover; */
    /* background:#fff url(assets/download.png); */
    /* background-attachment: fixed;
        background-size: cover;} */
    
    :root {
        --font-size: calc(12px + 0.28vw);}

    p {
        font-size: 16px;
    }

    body {
        color: white !important;
    }

    a {
        color: white !important;
    }
    
    #mobile-bg {
        display: block;
    }

    #large-bg {
        display: none;
    }

    .bg {
        /* display: flex; */
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        /* width:100vw; */
        height: 100vh;
        z-index: -100;
        overflow-x: hidden;
    }

    .bg>img {
        position: fixed;
        margin: 0;
        padding: 0 !important;
        width: 100vw;
        /* height:100vh; */
    }

    #teach20 {
        background-image: url("assets/000025.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    section {
        background: linear-gradient(rgba(19, 0, 128, 0.632) 0%, transparent 15%);
        border: solid 1px #96daffca;
        outline: none;
        box-shadow: 0 0 10px 1px #96daffca;
        /* background-color: transparent; */
        /* border-style: dashed; */
        /* background: rgba(255, 236, 236, 0.269); */
    }

    section:hover {
        /* background: rgba(255, 242, 242, 0.806); */
        background: linear-gradient(rgba(19, 0, 128, 0.632) 0%, transparent 15%);
    }

    #bio, #navigation {
        background: linear-gradient(rgba(19, 0, 128, 0.632) 0%, transparent 50%);
    }

    .tag {
        font-size: 14px;
        /* color: black; */
        border: solid #96daff 2px;
        background: #57c4ffc3;
    }

    #wa {
        min-width: 400px;
    }


}