html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Times New Roman', Times, serif !important; */
    font-family: "Crimson Text", serif !important;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    height: 100vh;
    overflow: 'hidden';
    z-index: -10;
    /* background-color: #ffeee8!important; */
    color: rgb(0, 0, 0) !important;
}

/* using this depends on the screensize */
:root {
    --font-size: calc(13px + 0.28vw);
    --h1-size: calc(3.0rem + 0.28vw);
    --h2-size: calc(2.6rem + 0.1vw);
    --h3-size: calc(1.6rem + 0.12vw);
    --h4-size: calc(1.2rem + 0vw);
    --h5-size: calc(0.4rem + 0.3vw);
    --bs-border-color: black !important;
}

a:hover {
    /* color: rgb(255, 0, 204); */
    font-style: italic;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { 
    :root {
        --font-size: calc(8px + 0.28vw);
    }
} */

/* .accordion-button {
    margin: 1rem 0;
    padding: 10px;
} */

.accordion-button:not(.collapsed) {
    color: rgb(0, 0, 0) !important;
    background-color: #ffffff !important;
    font-style: italic;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
    --bs-accordion-bg: #f9f9f900 !important;
}

.accordion-body {
    background-color: white !important;
}

.tag {
    font-size: 14px;
    /* border: dotted #96daff 2px;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 10px; */
    color: rgb(155, 155, 155);
}

.beach-pocket-img {
    width: 50%;
}

#profile {
    padding: 2rem 2.5rem;
}

#work {
    padding: 1rem 2.5rem;
    /* height:100vh; */
}

.row {
    --bs-gutter-x: 0rem !important;
}


/* Large screen */
@media screen and (min-width: 480px) {

    #profile {
        overflow-y: hidden;
        position: fixed;
        padding: 1rem 2.5rem;
        height: 100vh;
        /* background-image: url("assets/beach-pocket/2 copy.jpeg");
        background-attachment: fixed;
        background-size: 30vw 100vh;
        background-position: left;
        background-repeat: no-repeat; */
    }

    #work {
        overflow-y: scroll;
        margin-left: calc(100vw/12 * 3);
        width: calc(100vw/12 * 9);
        overflow-x: hidden;
        padding: 1rem 2.5rem;
    }
    .thumb {
        height: 8rem;
     }
}

/* Small screen */
@media screen and (max-width: 480px) {
    .accordion-button::after {
        background-image: none !important;
        width: 0 !important;
    }

    #fountain {
        display: none;
    }

    .thumb {
        height: 3.5rem;
     }
    
    #keyboard-demo {
        width: 100%;
    }
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }

